main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    gap: 20px;
    padding: 0px 20px 0px 20px;
    overflow-x: hidden;
}

.section-wrapper{
    display: flex;
    align-items: flex-start;
    gap: 30px;
    width: 100%;
}

.forum-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navigation-block{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.navigation-block nav{
    margin-right: 30px;
}

.navigation-block a{
    padding: 5px 15px;
    border-radius: 20px;
}

.navigation-block a:hover{
    background-color: hsla(0, 0%, 100%, 0.163);
}

.navigation-block ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px

}

.navigation-block img{
    width: 100px;
}

.left-aside{
    display: flex;
    flex-direction: column;
    width: fit-content;
    flex-shrink: 0;
}

.left-aside h3{
    padding: 20px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}

.activity-list,
.categories-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.categories-list li,
.activity-list li{
    display: flex;
    padding: 10px 10px 10px 0px;
    width: 100%;

 
}

.categories-list button,
.activity-list span{
    background: none;
    border: none;
    display: flex;
    width: 100%;
    border-radius: 10px;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color .1s ease;
}

.categories-list button:hover,
.activity-list span:hover{
    background-color: hsla(0, 0%, 100%, 0.163)
}

.right-aside{
    display: flex;
    flex-direction: column;
    max-width: 250px;
    gap: 20px;
    flex-shrink: 0;
    z-index: 20;

    max-width: 300px;
    padding: 20px;
}

.right-aside h2{
    text-align: center;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}

.right-aside h3{
    font-size: 1.05rem;
    text-align: center;
}

.right-aside strong{
    font-size: 1rem;
}

.right-aside div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}

.right-aside ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-aside p,
.right-aside span{
    font-size: 1rem;
}

.right-aside li,
.right-aside p{
    padding-left: 10px;
}

.user-week span{
    padding-left: 10px;

}

.desktop-hidden{
    display: none;
}

/* #region  -------------------------------------------           SEARCHBAR               ------------------------------------------------ */

#newPost{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    cursor: pointer;
    gap: 5px;
    padding: 5px 15px;
    
}

#newPost:hover{
    background-color: hsla(240, 2%, 35%);
    border-radius: 20px;
}

.search-container{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 5px 15px;
    gap: 15px;
    width: clamp(150px, 70vw, 500px);
    flex-shrink: 1;
    margin: 0 auto;
}

#searchBar{
    flex-shrink: 1;
    display: flex;
    width: 100%;
    border: none;
    outline: none;
    color: black;
}


#myLabel{
    z-index: 2;
    color: gray;
    pointer-events: none;
}

.fa-solid.fa-magnifying-glass {
    color: black;
    font-size: 18px;
}

.news-toggle{
    display: none;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    cursor: pointer;
    gap: 5px;
    padding: 5px;
}

.news-toggle:hover{
    background-color: hsla(240, 2%, 35%);
    border-radius: 20px;
}

.buttons-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}


/* #endregion */

/* #region   ------------------------------------------           POSTS                   -----------------------------------------------------        -----  */

.post-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0px 0px 20px 0px;
    gap: 10px;
}

.cards-listContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.first-card{
    border-top: 1px solid black;
}

.userDisplay{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.forumImage{
    width: 25px;
    border-radius: 50%;
}

.userName{
    font-size: 1rem;
}

.commentContent{
    font-size: 1rem;
}

.icon-container{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.icon-container button{
    background: none;
    border: none;
    cursor: pointer;
}

.icons-wrapper{
    display: flex;
    align-items: center;
    gap: 5px;
    min-width: 0;

}

.icons-wrapper i{
    font-size: 1.1rem;

}

.cards-wrapper{
    display: flex;
    align-items: center;
    width: 100%;
}

.counter{
    font-size: 1rem;
}

.icon-container button:hover .fa-solid.fa-share{
    color:rgb(251, 255, 0);

}

.icon-container button:hover .fa-solid.fa-comment{
    color:rgb(25, 206, 215);
    cursor: pointer;
}

.icon-container button:hover .fa-solid.fa-thumbs-down{
    color:rgba(232, 20, 45, 0.615);
    cursor: pointer;
}

.icon-container button:hover .fa-solid.fa-thumbs-up{
    color:rgb(0, 255, 60);
    cursor: pointer;
}

.filters-container{
    display: flex;
    align-items: center;
    position: relative;
    gap: 20px;
    padding: 0px 0px 20px 0px;
}

.filters-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.filters-wrapper button{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1rem;
    background: none;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 5px 15px;
}

.filters-dropdown{
    border: none;
    background: none;
    pointer-events: none;
}

.filters-dropdown i{
    font-size: 1rem;
    display: none;
}


.isolated-li{
    margin-left: auto;
}

.forum-sidebar-toggle{
    display: none;
    background: none;
    align-self: flex-end;
    border: none;
    padding: 5px 5px;
}


/* #endregion */

/* #region   ------------------------------------------           MEDIA QUERIES           ---------------------------------------------------             */

@media (max-width: 1100px){

       .navigation-block button{
        background: none;
        border: none;
    }

    nav{
        display: none;
    }

    .right-aside{
        display: none;
        
    }

    .desktop-hidden.right{
        display: flex;
        align-items: center;
    }

    .navigation-block{
        justify-content: flex-start;
        align-items: center;

    }

}

@media (max-width: 800px){

    .forum-sidebar-toggle{
        display: block;
    }

 

    .navigation-block{

        padding: 20px 0px 0px 0px;
    }

    .desktop-hidden.left{
        display: flex;
        align-items: center;
    }

    .left-aside{
        position: absolute;
        top: 0px;
        left: 0px;
        transform: translateX(-100%);
        z-index: 20;
        background-color: black;
        max-width: 300px;
        padding: 20px;
        background-color: hsl(0, 0%, 18%);
        transition: transform 0.3s ease;
        border-right: 1px solid gray;
        padding: 10px;
    }

    #newPost *{
        font-size: 1.1rem;
    }

    .navigation-block img{
        display: none;
    }

    .filters-wrapper{
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(90%);
        display: none;
        flex-direction: column;
        z-index: 10;
        background-color: rgb(45, 45, 45);
        align-items: center;
        gap: 0px;
     

    }

    .filters-wrapper button{
        border-radius: 0px;
        padding: 10px;
        border: 1px solid gray;
        width: 100%;
    }

    .filters-dropdown{
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        padding: 5px 15px;
        border: 1px solid gray;
        border-radius: 20px;
        pointer-events: auto;
    }

    .filters-dropdown span{
        display: none;
    }

    .filters-dropdown i{
        display: flex;
    }

    .header-wrapper span{
        font-size: 1.1rem;
    }




}

@media (max-width: 400px){

    .cards-wrapper{
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

    }

    .isolated-li{
        margin-left: 0px;
    }

    .header-wrapper{
        flex-direction: column;

    }



}

/* #endregion */

.selected{
    border-color: hsl(0, 0%, 57%);
    transform: scale(1.05);
    box-shadow: 0 2px 8px hsla(0, 0%, 58%, 0.3);
    transition: all 0.2s ease;

}

.filters-wrapper button.active{
    background-color: hsl(0, 0%, 23%);

}

.fs-16px{
    font-size: 1rem;
}

.active{
    display: flex;
}

.display-none{
    display: none;
}

.translatePX{
    transform: translateX(0%);
}
