body{
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, hsla(0, 0%, 0%, 0.338), hsla(0, 0%, 0%, 0.924)), url('../Assets/home-background-image.jpg');
    background-size: cover;
    background-position: top 100%;
    background-attachment: fixed;

}

main{
    display: flex;
    flex-direction: column;
    padding: 0px 20px 20px 20px;
    box-shadow: 0 8px 32px hsla(0, 0%, 0%, 0.1);
}


.title-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-title{
    gap: 20px;
    width: fit-content;
    font-size: 4.5rem;
    margin-bottom: 50px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.663);
    
}

.title-strong{
    font-size: 4.5rem;
    color: hsla(78, 97%, 48%, 0.78);
}


.benefits-list li{
    flex: 1;
    display: flex;
    gap: 20px;
}

.benefits-list li i{
    width: 22px;
}

.introduction-description{
    max-width: 50ch;
    padding-bottom: 35px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.navigation-block nav{
    margin-right: 30px;
}


.navigation-block{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.navigation-block a{
    padding: 5px 15px;
    border-radius: 20px;
}

.navigation-block a:hover{
    background-color: hsla(0, 0%, 100%, 0.163);
}

.navigation-block ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px

}

.navigation-block img{
    width: 100px;
}

.introduction-header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    width: 100%;
    background-color: black;
}

.introduction-section{
    position: relative;
    min-height: calc(100vh - 170px);
    padding-bottom: 100px;
    width: 100%;
}


.introduction-header-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 20px;
    padding: 20px;
    width: 100%;

}


.ul-introduction-wrapper{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    
}

.benefits-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 35px;
}


.home-section{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.home-section h2{
    font-weight: bold;
}

.tester{
    display: flex;
    width: 70%;

}

.news-description{
    width: 30%;
    border-radius: 20px;
    height: auto;
    background-color: hsla(0, 0%, 0%, 0.26);
}

.news-wrapper{
    padding: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    gap: 20px;
    width: 100%;
    
}

.carroussel-container{
    position: relative;
    max-height: 500px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 32px hsl(0, 0%, 0%);

}


.card img{
    width: 100%;
    height: 100%;
    aspect-ratio: 7 / 5;
    object-fit: cover;
  
}

.extender-wrapper{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    left: 0px;
    gap: 20px;
    width: 100%;

}

.extender{
    border-radius: 20px;
    cursor: pointer;
    transition: .2s ease;
    padding: 5px 15px;
}

.extender:hover{
    background-color: hsla(0, 0%, 100%, 0.163);


}
/* ----------------------------------------------------------------------- */





.slider-container{
    display: flex;
}

.card{
    width: 100%;
    display: none;
}




.news-header{
    text-align: center;
    padding: 10px;
    margin: 0px;
    color: var(--text-color);
}

.card-paragraph{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    z-index: 10;
    background-color: hsla(0, 0%, 0%, 0.69);
    color: var(--text-color);
    overflow: hidden;
    cursor: pointer;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.paragraph{
    overflow: hidden;
    max-height: 0px;
    padding: 0px 20px 0px 20px;
    margin-bottom: 0px;
    transition: max-height 0.3s ease;
    color: var(--text-color);
}

.paragraph p{
    padding-top: 20px;
}

.anchor-read{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    text-decoration: none;
    color: var(--text-color);
    width: fit-content;
    border-radius: 20px;
    background-color: hsla(0, 0%, 51%, 0.34);
}

.anchor-read:hover{
    background-color: hsla(0, 0%, 51%, 0.44);
}

.anchor-wrapper{
    padding: 10px 20px 10px 0px;
}



/* #region   ------------------------------------------             Slider buttons         ---------------------------------------------------             */

.slider-container button{
    position: absolute;
    padding: 12px 18px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: hsla(0, 0%, 0%, 0.49);
    color: var(--text-color);
    border: none;
    cursor: pointer;
}

.prev{
    left: 0;
}

.next{
    right: 0;
}

.next:hover , .prev:hover{
    background-color: hsla(0, 0%, 0%, 0.59);
}

.news-container{
    background-color: hsla(0, 0%, 0%, 0.59);
}


/* #endregion */


.display-card{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}


.review-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.user-review-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
    padding: 20px 20px 20px 20px;
    background: hsla(0, 0%, 0%, 0.4);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.user-review-text p{
    margin-left: 10px;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
}



.news-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
    height: fit-content;
    background: hsla(0, 0%, 0%, 0.155);
    border-radius: 20px;
    padding-bottom: 20px;
    padding: 20px 20px 20px 20px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.news-text p{
    text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
}

.news-text h2{
    text-align: center;
}

.user-review-text.alternated{
    padding: 20px 20px 20px 20px;
}

.user-review-text h2{
    text-align: center;
}

.review-wrapper{
    display: flex;
    gap: 20px;
}


.user-review{
    background-repeat: no-repeat;
    background-image: linear-gradient(to left, hsla(0, 0%, 0%, 0.338) 50%, hsla(0, 0%, 0%, 0.924) 75%), url('../Assets/user-review-img1.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.867);
    box-shadow: 0 8px 32px hsl(0, 0%, 0%);
}


.user-review img{
    min-width: 150px;
    width: 15%;
    height: auto;
    border-radius: 50%;
    flex-shrink: 0;
}

.user-review span{
    align-self: flex-start;
}


.user-review.alternated{

    background-image: linear-gradient(to left, hsla(0, 0%, 0%, 0.338) 50%, hsla(0, 0%, 0%, 0.924) 75%), url('../Assets/user-review-img2.jpeg');

}

.temp-div{
    width: 50%;
}




.user-info{
    display: flex;
    align-self: flex-start;
    align-items: center;
    gap: 50px;
    flex: 1;
}

.user-info p{
    flex: 1;
}

.user-message{
    max-width: 30ch;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background: hsla(0, 0%, 0%, 0.155);
    text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
    align-items: flex-start;
    margin-top: 10px;
    gap: 10px;
    flex-grow: 1;
}


/* ------------------------------------ */

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }

}

@media (max-width: 1080px){
    .review-wrapper{
        flex-direction: column;
    }
    .user-review-text{
        width: 100%;
    }

    .review-wrapper.alternated{
        flex-direction: column-reverse;
    }

    .news-wrapper{
        flex-direction: column;
    }

    .news-text{
        width: 100%;
    }

    .tester{
        width: 100%;
    }

    .carroussel-container{
        width: 100%;
    }
}


@media (max-width: 900px){

    .introduction-header-wrapper{
        align-items: center;
    }

    .ul-introduction-wrapper{
        width: 80%;
    }
    
}

@media (max-width: 550px){
    .user-info{
        flex-direction: column;
        width: 100%;
    }

    .user-review span{
        align-self: center;
    }

    .navigation-block nav{
        display: none;
    }
}

@media (max-width: 450px){

    main{
        padding: 5px;
    }

    .ul-introduction-wrapper{
        width: 99%;
    }

    .introduction-header-wrapper{
        padding: 0px;
    }

    .ul-introduction-wrapper{
        width: 100%;
    }

    .review-container,
    .user-review-text{
        padding: 20px 0px 20px 0px;
    }

    .review-wrapper{
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .user-info{
        gap: 10px
    }

    .home-title,
    .home-title strong{
        font-size: 2rem;
    }

    .news-wrapper{
        display: none;
    }
}


