main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.inputs-block{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0px 0px 20px 0px;

}

.inputs-wrapper{
    display: flex;
    align-items: center;
    gap: 20px;
}

.inputs-block input{
    border-radius: 20px;
    border: 1.5px solid hsl(0, 0%, 29%);
    padding: 5px 15px;
    color: black;
    font-size: 1.1rem;
}

.inputs-block a{
    display: flex;
    align-items: center;
    padding: 5px 15px;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    transition: background .1s ease;
}

.inputs-block a:hover{
    background-color: var(--alternated-row-color);
}

.inputs-block form{
    display: flex;
    align-items: center;    
}

#date-filter{
    cursor: pointer;
}

.search-filter-wrapper{
    position: relative;
}

.magnifying-wrapper{
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
}

#search-filter{
    padding-left: 40px;
}

.magnifying-wrapper i{
    color: black;
    font-size: 1rem;
}

.transactions-block{    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    background-color: var(--body-bg-color);
    border: 1px solid hsla(180, 12%, 95%, 0.316);
    border-radius: 20px;
    
}

.transactions-history{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
    background-color: var(--row-color);
}

caption{
    border-bottom:   1px solid hsla(180, 12%, 95%, 0.316) ;
    background-color: var(--titles-color);
    padding: 10px;
    width: 100%;  
}

#rowTitle{
    background-color: var(--row-header);
    width: 100%;  
}

td{
    padding: 20px;
}

th{
    padding: 10px;
    word-break: break-word;
    cursor: pointer;
}

th i{
    font-size: 1rem;
}

tr{
    border-bottom: 1px solid hsla(180, 12%, 95%, 0.316);
}

.row{
    font-size: 1rem;
}

.transaction-button-wrapper{
    width: 100%;
    padding: 5px 10px;
}

#load-more{
    display: flex;
    align-items: center;
    gap: 10px;
    background: none;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 20px;
    transition: background .1s ease;
}

#load-more:hover{
    background-color: var(--alternated-row-color);
}

tr:nth-of-type(2n){
    background-color: var(--alternated-row-color);
}

.transactions-history tr:last-of-type{
    border-bottom: none;
}

@media (max-width: 900px){
    section{
        width: 100%;
    }
    
    .inputs-wrapper{
        flex-direction: column;
        align-items: flex-start;
    }
    
}

@media (max-width: 630px){

    .inputs-wrapper{
        align-items: center;
    }

    .inputs-block{
        flex-direction: column-reverse;
        gap: 20px;
        align-items: center;
    }

}

@media (max-width: 500px){

    main{
        padding: 10px;
    }

    th{
        padding: 10px 5px;
        font-size: 1.1rem;
    }

    td{
        padding: 15px 5px;
    }
    #search-filter{
        width: 100%;
    }




}