main{
    display: flex;
    flex-direction: column;

    padding: 2rem;
    gap: 2rem;

}

.wallet-sections-wrapper{
    align-items: flex-start;
    display: flex;
    width: 100%;
    gap: 2rem;
}

.possessed-cryptos-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.portfolio-value{
    text-align: center;
}

.transactions-section{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.possessed-cryptos-section h2,
.transactions-section h2{
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 1.3rem;
    text-align: center;
    font-weight: 600;
}

.graph-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.graph-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary-bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  background: hsla(0, 0%, 12%, 0.609);
  border-radius: 8px;
  padding: 1rem;
  font-weight: 500;
  color: #ddd;
}

.summary-bar span{
    text-align: center;
}

.wallet-doughnut{
    width: 100%;

}

#html-legend {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    font-family: sans-serif;
    color: #ccc;
}

#html-legend li {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
}

.little-box{
  width: 15px;
  height: 15px;
  border-radius: 4px;
}

.transactions-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-family: Arial, sans-serif;
    font-size: 0.95rem;
    color: #333;
    margin-top: 1rem;
    border: 1px solid rgb(85, 85, 85);

}

.transactions-table th,
.transactions-table td {
    padding: 1rem;
    text-align: center;
}

.transactions-table thead th {
    background-color: hsla(0, 0%, 0%, 0.37);
    font-weight: 600;
}

.transactions-table tbody tr:nth-child(odd) {
    background-color: hsla(0, 0%, 25%, 0.903);
}

.transactions-table tbody tr:nth-child(even) {
    background-color: hsla(0, 0%, 15%, 0.903);
}

.transactions-table td:last-child {
    text-align: right;
}


@media (max-width: 1320px){
    
    .wallet-sections-wrapper{
        flex-direction: column;
    }

    .possessed-cryptos-section{
        width: 100%;
    }

    .transactions-section{
        width: 100%;
    }

    .graph-wrapper{
        flex-direction: row;
        align-items: flex-start;
        margin: 0 auto;
        gap: 5rem;
    }

    #html-legend{
        width: 300px;
    }

}


@media (max-width: 700px){

    .graph-wrapper{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    #html-legend{
        width: 100%;
    }

    main{
        padding: 1rem;
    }

    .wallet-table-wrapper{
        overflow-x: auto;
    }

    .transactions-table{
        min-width: 650px;
    }
}

@media (max-width: 500px){


    #html-legend{
        display: none;
    }

    main{
        padding: 10px;
    }

}